<h1>Home</h1>
<p>This is action page of the home controller</p>

<div class="container" id="question_block">
    <div class="card card-block bg-light">
        <div class="media">
            <img class="mr-3" src="https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="Matty the fatty">
            <div class="media-body">
                <h5 class="mt-0">user@email.com asked:</h5>
                What is the meaning of Life?
            </div>
        </div>
        <div>
            <a href="/questions/12" class="btn btn-success btn-xs float-right">View answers</a>
        </div>
    </div>
    <div class="card card-block bg-light">
        <div class="media">
            <img class="mr-3" src="https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="Matty the fatty">
            <div class="media-body">
                <h5 class="mt-0">user@email.com asked:</h5>
                What is the meaning of Life?
            </div>
        </div>
        <div>
            <a href="/questions/12" class="btn btn-success btn-xs float-right">View answers</a>
        </div>
    </div>
    <div class="card card-block bg-light">
        <div class="media">
            <img class="mr-3" src="https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="Matty the fatty">
            <div class="media-body">
                <h5 class="mt-0">user@email.com asked:</h5>
                What is the meaning of Life?
            </div>
        </div>
        <div>
            <a href="/questions/12" class="btn btn-success btn-xs float-right">View answers</a>
        </div>
    </div>
</div>

