<div class="container" id="question_block">
    <div class="card card-block bg-light">
        <div class="media">
            <img class="mr-3" src="https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="Matty the fatty">
            <div class="media-body">
                <h5 class="mt-0">user@email.com asked:</h5>
                What is the meaning of Life?
            </div>
        </div>
    </div>
</div>

<div class="container col-sm-8" id="answer_block">
    <div style="padding-top: 16px; padding-bottom: 16px;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
    </div>

    <!--Answer Popup Modal --> 
    <%= render 'layouts/new_answer_form' %>

    <div class="media">
        <img class="mr-3" src="https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="Matty the fatty">
        <div class="media-body">
            <h5 class="mt-0">user@email.com answered:</h5>
            This is a very tough question to answer. I will start with planet zorro which
            is located in Andromeda galaxy. On that planet life is all about pucchi power.
        </div>
    </div>
    <div class="media">
        <img class="mr-3" src="https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="Matty the fatty">
        <div class="media-body">
            <h5 class="mt-0">user@email.com answered:</h5>
            This is a very tough question to answer. I will start with planet zorro which
            is located in Andromeda galaxy. On that planet life is all about pucchi power.
        </div>
    </div>
    <div class="media">
        <img class="mr-3" src="https://2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&d=wavatar" alt="Matty the fatty">
        <div class="media-body">
            <h5 class="mt-0">user@email.com answered:</h5>
            This is a very tough question to answer. I will start with planet zorro which
            is located in Andromeda galaxy. On that planet life is all about pucchi power.
        </div>
    </div>
</div>


